{% if table %}
    <table id="sortTable">
        <thead>
            <tr>
                {% for key in table[0].keys() %}
                    <th cmanSortBtn>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                {% for value in row.values() %}
                    {{ value }}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
