/* === ソートボタンを表示するエリア ============== */
.tsImgArea{
  line-height: 1;
}
/* === ソートボタン ============================== */
.tsImg{
  display    : inline-block;
  width      : 8px;
  height     : 6px;
  background : #eee;
  border     : 1px solid #777;
  margin     : 1px 3px;
  padding    : 3px;
  cursor     : pointer;
}
/* === ソートボタン（カーソルオーバー時）========= */
.tsImg:hover{
  background : #FFD700;
}
/* === ソートボタン内の三角の色（SVG）============ */
.tsImg path{
  fill       : #777;
}
.hidden {
  display: none;
}
/* チェックボックスとラベルのラッパー */
.checkbox-container {
  display: inline-flex; /* 各ラッパーをインラインで横に並べる */
  align-items: center;
  margin-right: 15px; /* ラッパー要素間のスペース */
}

/* チェックボックスとラベルの間隔 */
.checkbox-container input[type="checkbox"] {
  margin-right: 5px; /* チェックボックスとラベルの間隔 */
}
